* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
    color: #333;
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* HERO */

.hero {
    background: linear-gradient(to right, #141e30, #243b55);
    color: white;
    padding-bottom: 80px;
}

.hero-content {
    text-align: center;
    margin-top: 80px;
    padding: 0 20px;
}

.hero-content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero-content p {
    margin-bottom: 30px;
}

.btn {
    background: #00c6ff;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s;
}

.btn:hover {
    background: #009ec3;
}

/* SERVICES */

.services {
    padding: 80px 10%;
    text-align: center;
}

.service-cards {
    display: flex;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 280px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

/* FOOTER */

footer {
    background: #141e30;
    color: white;
    text-align: center;
    padding: 20px;
}